.clearfix:before,
.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
/* For IE 6/7 (trigger hasLayout) */
.clearfix { zoom:1; }


/*GENERAL*/
body{font-family: helvetica; color:#666; }
a{color:#666;text-decoration: none;}


.lbl_num_res{font-size: 140%;font-weight: bold;}
.nme_resultados{margin-top:20px;}
.file_names_pool{border:1px solid rgba(0,0,0,0.05);}
.file_names_pool div.nmes{height: 200px;width: 100%;overflow: auto;}
.result_table{font-size: 80%;margin-top: 20px;}
.result_table td{border:1px solid rgba(127,0,0,0.05);white-space: nowrap;width:1px;padding:5px;}
.result_table th{min-width:calc(2.7% - 2px);border:1px solid rgba(0,0,255,0.05);white-space: nowrap;padding:5px;font-weight: bold;background: rgba(0,255,255,0.1);}
#sec_res_table{overflow: scroll;height:700px;min-width:1200px;max-width: 1920px;}

.main_section{width:70%; margin:0 auto;}
.navigation{padding-top:70px;}
.navigation ul li{margin:40px 0px;text-align: center;width:100%;height:120px;border:1px solid rgba(0,0,0,0.05);box-shadow: 1px 1px 5px rgba(0,0,0,0.2);border-radius: 5px;}
.navigation ul li:hover{box-shadow: 1px 1px 7px rgba(0,0,0,0.3);}
.navigation ul li p{position: relative;top: 50%;transform: translateY(-50%); }

#input_form{padding-top:90px;}
#main_input_form table{width:100%;}
#main_input_form table tr{height:70px;text-align: center;}
#main_input_form table tr td input, #main_input_form table tr td select{margin-top:15px;width:80%;}
#input_form button.to_main{float:right;margin-right: 20px;}

#inner_output_section{padding-top:90px;}
/*#filter_form{padding:20px;margin-bottom:60px;}*/
#filter_form select, #filter_form input, #filter_form textarea{width:200px;margin-top:10px;}
.lbl_res em{font-weight: 700;border-bottom: 1px solid red;}

.separdor{width:100%;height:2px;background: #000;margin:20px 0px;}

.file_created{margin:20px 0px;}

/*
 * BOTONES 
 * GO, RESET & BACK
 */

.go{background:#22dd00;border:none;height: 40px;outline:none;border-radius: 3px;box-shadow: 1px 1px 3px rgba(0,0,0,0.2);color:#424242;font-weight: bold;font-size: 90%;margin-top:10px;}
.reset{background:#dd2200;border:none;height: 40px;outline:none;border-radius: 3px;box-shadow: 1px 1px 3px rgba(0,0,0,0.2);color:#424242;font-weight: bold;font-size: 90%;margin-top:10px;}
.back{background:#22bbdd;border:none;height: 40px;width:200px;outline:none;border-radius: 3px;box-shadow: 1px 1px 3px rgba(0,0,0,0.2);color:#424242;font-weight: bold;font-size: 90%;margin-top:10px;}

#success_screen{width: 50%;margin: 15% auto;text-align: center;}

/*
 * UPDATE LIGHTBOX
*/
#lightbox_form{position:fixed; top:50%; left: 50%; margin-top:-76px; margin-left: -25%; width:50%; display: none;background-color: rgba(0,0,0,0.5);padding:30px;}
#lightbox_form form{background-color:#ececec;text-align: justify;}
#lightbox_form form input{width: calc(25% - 10px);background-color: transparent;outline: none;}
